
{% extends 'main/index.html' %}

{% block title %} Add a New Post {% endblock %}

{% block content %}


<div class="container">
<h2>Add a New post</h2>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mt-3">
      <label class="form-label">Title</label>
      <input type="text" name="title" class="form-control" />
    </div>

    <div class="mt-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" name="pcontent"></textarea>
    </div>


    
      <div class="mt-3">
        <label class="form-label">Release Date</label>
        <input type="date" class="form-control" name="release_date"  />
      </div>

      <div class="mt-3">
        <label>Choose File:</label>
        <input type="file" name="img" class="form-control"/>
      </div>

      <br/>
      <input type="submit" class="btn btn-primary" value="New Game" />

    

</form>

</div>



{% endblock %}